*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("cats.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #376404;


}
.container {

    background-color: rgba(85, 92, 53, 0.8);
    border: 3px solid #802063;
    border-radius: 50px;
    width: 30%;
    padding: 20px;
    color: rgb(248, 255, 215);
    margin: auto;
}
h3{
    font-size: 20px;
}
#guess{
    padding: 10px;
    width: 40%;
    font-size: 15px;
    border: none;
}

#btn {
    background-color: #376404;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
}
@media all and (max-width:500px){
    .container {
        width: 50%;
    }
}